{% extends 'catalog/base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card mt-5">
            <div class="card-body">
                <h2 class="text-center mb-3">
                    Подтверждение почты
                </h2>
                <p class="fs-5">
                    Для верификации почты мы отправили вам письмо на указанный email.
                </p>
                <p class="fs-5">
                    Перейдите по ссылке в письме для активации вашего аккаунта.
                </p>
                <p class="fs-5">
                    Если вы не можете найти письмо, проверьте папку "Спам".
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}